<div class="row justify-space-between-md">
  <div class="login-card">
    <h2 class="page-title">Invoice</h2>
    <table id="invoice-table">
      <tr>
        <th>Meal:</th>
        <th>Unit Price:</th>
      </tr>
    </table>
    <div id="total-price">Total: </div>
  </div>
</div>
<script src="./js/invoice.js"></script>