<table class="table">
  <thead>
    <tr>
      <th scope="col">Dish</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>dish1</td>
      <td>price1</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <td>dish2</td>
      <td>price2</td>
    </tr>
    <tr>
      <td>dish3</td>
      <td>price3</td>
    </tr>
  </tbody>
</table>